p
{
	text-shadow: 2px 2px 4px white;
	text-align: justify;
	padding: 9px;
    margin: 50px;
}
h1
{

	color: blue;
    font-size: 50px; 
	font-family: Comic Sans MS, fantasy, Arial, "Arial Black", Impact, Verdana, sans-serif; 
	font-weight: bold;
	text-align: center;
	padding-bottom:50px;

}
ul
{
	text-shadow: 2px 2px 4px white;
	text-align: justify;
	padding-left:60px;
    margin: 50px;
}
	
body
{
	font-size: 17px;
	font-family: Arial,Impact,fantasy,  "Arial Black",  Verdana, sans-serif;
    background-color: white; /* Le fond de la page sera noir */
	color: black; /* Le texte de la page sera blanc */
	background: url("criee.JPG") fixed;
	background-size: cover;
	
	
}
mark
{
	font-weight: bold;
}
footer
{
	text-shadow: 2px 2px 4px white;
	color: black;	
    font-size: 25px; 
	font-family: Comic Sans MS, fantasy, Arial, "Arial Black", Impact, Verdana, sans-serif; 
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 50px;

}
section
{
padding:50px;
}